.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profile-pic {
  height: auto;
  max-width: 250px;
}

.follower-pic {
  height: auto;
  max-width: 100px;
}

.container {
  display: flex;
}

.followers-container {
  padding: 5%;
}

.followers {
  display: flex;
  flex-wrap: wrap;
}

.follower-card,
.user-card {
  margin: 2%;
}
